Origin: IT4S
Version: 0.9.4
Section: utils
Essential: No
Priority: required
Maintainer: IT4S GmbH <support@it4s.eu>
Homepage: http://www.it4s.eu
Description: Mainscreen where the user can sign in to any remote system
