Origin: IT4S
Version: 0.9.2
Section: it4s-main
Essential: No
Priority: required
Maintainer: Alexander Racic <alexander.racic@it4s.eu>
Description: Mainscreen where the user can sign in to any remote system
