Origin: IT4smart
Version: 0.9.6
Section: utils
Essential: No
Priority: required
Maintainer: IT4smart GmbH <support@it4smart.eu>
Homepage: http://www.it4smart.eu
Description: Mainscreen where the user can sign in to any remote system
